{% extends 'base.html' %}

{% block title %}What Does AF Stand For?{% endblock %}

{% block content %}

<h1 class="text-center h2">What Does AF Stand For?</h1>

<p class="text-center h1 p-5"><strong>{{ a_word }} {{ f_word}}</strong></p>

<p class="text-center small">
    Built by
    <a href="http://craiga.id.au">Craig Anderson</a> of
    <a href="http://uhf62.co.uk">UHF 62</a> for the lovely
    <a href="https://www.idlesband.com">IDLES</a> fan community
    <a href="https://www.facebook.com/groups/231316577380254">AF GANG</a>.
    <a href="https://github.com/craiga/what-does-af-stand-for">Source code available on GitHub.</a>
    All is love 💖</p>

{% endblock %}
